#ignora pacotes instalados pelo npm
node_modules

#ignora arquivos de log
*.log

#ignora arquivos temporários
*~

# MAC
.DS_Store

# testes coverage
coverage

# credentials ex: .credentials.{envName}.json
.credentials.*