<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body style="color: white; background-color: black">
    <header>
      <img src="/img/logo.png" />
    </header>
    {{{body}}}
  </body>
</html>