<html lang="en">
  <head>
    <title>Document</title>
    {{{_sections.head}}}
  </head>
  <body style="color: rgb(214, 21, 21); background-color: rgb(64, 21, 48)">
    <header>
      <img src="/img/logo.png" />
    </header>
    {{{body}}}
    <section>{{{_sections.scripts}}}</section>
  </body>
</html>